/* Estilos globales */
body {
  background-color: #365e32;
  color: black;
  font-family: Arial, sans-serif;
}

/* Contenedor del formulario */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Formulario */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

/* Input de archivo */
input[type="file"] {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

/* Título */
h4 {
  margin: 10px 0;
}

/* Botón de envío */
button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Select */
select {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin: 10px 0;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
